:root {
    --primary: #448899;
    --secondary: #666666;
    --bg: #ffffff;
    --fontfamily: 'Noto Sans TC', 'Noto Sans CJK TC', 'Source Han Sans TC', sans-serif;
    --max: 1200px;
    --shadow: 0 0 20px #AABBCC;
    --selected-cat: #EEEEEE;
}

html,
body {
    min-height: 100dvh;
    color: var(--secondary);

}

body {
    display: flex;
    flex-direction: column;
}

/* ===== navbar區域 ===== */
.navbar {
    background-color: var(--bg);
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10000;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.container {
    margin-inline: auto;
    width: 100%;
    max-width: var(--max);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9px 0 10px;
}

.navbar__logo {
    color: var(--primary);
    font-size: 30px;
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: 34px;
}

.navbar__list {
    display: flex;
}

.navbar__items {
    font-size: 16px;
    color: var(--secondary);
    padding-inline: 10px;
}

.narbar__link {
    display: inline-block;
    white-space: nowrap;
}

/* ===== section區域 ===== */
.booking__warp {
    margin-inline: auto;
    width: min(1200px, calc(100vw - 20px));
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.separator {
    margin: 40px auto;
    height: 1px;
    background-color: rgba(232, 232, 232, 1);
    width: min(1200px, calc(100vw - 20px));
}

.booking__section {
    width: min(980px, calc(100% - 20px));
}

/* 大標題 */
.booking__headline {
    margin: 40px 0 30px 0;
    width: min(1000px, calc(100% - 20px));
    color: var(--secondary);
    font-size: 19px;
    font-weight: 700;
}

/* sec.1 圖片與行程相關資訊 */
.attraction__container {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 30px;
}

.booking__attraction__pic {
    height: 200px;
}

.booking__attraction__pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.booking__attraction__detail {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(4, 24px);
    gap:10px;
    position: relative;
}

.booking__attraction__title {
    align-content: center;
    color: var(--primary);
    font-weight: 700;
    margin: 5px 0;
    word-break: keep-all;
    line-break: loose;
    overflow-wrap: break-word;
}

.booking__field {
    font-weight: 700;
    align-self: center;
}

.booking__field > span {
    font-weight: 400;
}

.booking__delete-btn img{
    height: 30px;
    width: 30px;
    position: absolute; top:0; right: 0;
}

/* sec.2 & sec.3 聯絡資訊＆信用卡資訊 */
.booking__title {
    font-size: 19px;
    margin-bottom: 20px;
    color: var(--secondary);
}

.booking__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.booking__form__field {
    font-weight: 400;
    align-content: center;
    display: flex;
    align-items: center;
}

.booking__form__field input{
    padding: 10px;
    border: 1px solid rgba(232, 232, 232, 1);
    border-radius: 5px;
    width: 200px;
    height: 38px;
}

.booking__form__field input::placeholder {
    font-weight: 500;
    font-size: 1rem;
    transform: translateY(2px);
}

.contact__memo {
    margin-top: 15px;
    font-weight: 700;
}

/* 針對 tappay 輸入框的style設定 */
.tpfield {
    height: 38px;
    width: 200px;
    border: 1px solid rgba(232, 232, 232, 1);
    border-radius: 5px;
    /* margin: 5px 0; */
    padding: 10px;
}

/* sec.4 總價及確認訂購 */
.booking__total {
    display: grid;
    justify-content: end;
}

.booking__total__price {
    display: flex;
    justify-content: end;
    font-weight: 700;
    margin-bottom: 22px;
}

.booking__total__confirm-btn {
    background-color: var(--primary);
    color: var(--bg);
    font-size: 19px;
    font-weight: 400;
    border-radius: 5px;
    height: 36px;
    padding: 8px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.booking__total__confirm-btn:hover {
    background-color: #397281;
}

.booking__total__confirm-btn:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

@media(max-width:600px){
    .attraction__container{
        grid-template-columns: 1fr;
    }

    .booking__attraction__detail {
        height: 200px;
    }

    .booking__delete-btn img {
        top: auto;
        bottom: 0;
        right: 0;
    }
}

/* ===== 先將所有 has-booking(有訂單才會出現的元素)隱藏 ===== */
.no-booking {
    display: none;
}

.booking__no-booking-message {
    /* display: none; */
    width: min(1000px, calc(100% - 20px));
    color: var(--secondary);
    font-size: 16px;
    font-weight: 400;
}


/* ===== thanks you page ===== */
.order__section {
    width: min(600px, calc(100% - 20px));
}

.order__headline {
    text-align: center;
    margin: 30px 0 10px 0;
    width: min(1000px, calc(100% - 20px));
    color: var(--secondary);
    font-size: 19px;
    font-weight: 700;
}

.order-number {
    margin: 10px 0 10px 0;
}

.order-notice {
    margin-bottom: 20px;
}

.order__attraction__detail {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 36px repeat(4, 24px);
    gap: 10px;
    position: relative;
}

.order__attraction__title {
    align-content: center;
    color: var(--primary);
    font-weight: 700;
    margin: 5px 0;
    word-break: keep-all;
    line-break: loose;
    overflow-wrap: break-word;
}

/* ===== Footer 區域 ===== */
.footer {
    min-height: 104px;
    margin-top: 40px;
    text-align: center;
    background-color: var(--secondary);
    color: var(--bg);
    flex-grow: 1;
}

.footer__copy-right {
    height: 104px;
    align-content: center;
}

/* ===== Pop-up Dialog ===== */
.dialog {
    width: 340px;
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    overflow: hidden;
    border: none;
    filter: drop-shadow(0 4px 60px rgba(170, 170, 170, 1));
    color: var(--secondary);
    /* 新增 transition 動畫  */
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

/* Dialog 打開時 */
.dialog[open] {
    opacity: 1;
}

/* 背景遮罩淡入 */
.dialog::backdrop {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease-out;
}

.dialog[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog__close-btn {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dialog__close-btn img {
    height: 16px;
    width: 16px;
}

.dialog__decorator-bar {
    width: 100%;
    height: 10px;
    background-image: linear-gradient(to right, rgba(102, 170, 187, 1), rgba(51, 119, 136, 1));
}

.dialog__wapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    padding: 15px;
}

.dialog__form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;
}

.dialog__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.dialog__field {
    width: 100%;
}

.dialog__input {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgba(204, 204, 204, 1);
    width: 100%;
}

.dialog__input::placeholder {
    font-size: 1rem;
    font-weight: 500;
    transform: translateY(2px);
}

.dialog__form-btn {
    background-color: var(--primary);
    color: var(--bg);
    line-height: 16px;
    font-size: 19px;
    font-weight: 400;
    border-radius: 5px;
    width: 100%;
    padding: 15px 20px;
    transition: all 0.2s ease;
}

.dialog__form-btn:hover {
    background-color: #397281;
}

.dialog__form-btn:disabled {
    opacity: 0.8;
    cursor: progress;
}

.dialog__message {
    color: tomato;
    font-weight: 700;
    display: none;
}

.dialog__switch {
    height: 22px;
    cursor: pointer;
}

.dialog__switch:hover {
    text-decoration: underline;
}