*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    font-weight: 500;
}

body {
    font-family:'Noto Sans TC', sans-serif;
    /* line-height: 1.5;
    color: #333; */
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
    direction: none;
}

button {
    font: inherit;
    cursor: pointer;
    border: none;
    background: none;
}