:root{
    --primary: #448899;
    --Secondary: #666666;
    --bg: #ffffff;
    --fontfamily: 'Noto Sans TC', Sans-serif;
    --max: 1200px;
    --shadow: 0 0 20px #AABBCC;
    --selected-cat: #EEEEEE;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ===== navbar區域 ===== */
.navbar {
    background-color: var(--bg);
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10000;
}

.container {
    margin-inline: auto;
    width: 100%;
    max-width: var(--max);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.navbar__logo {
    color: var(--primary);
    font-size: 30px;
    font-weight: 700;
    white-space: nowrap;
}

.navbar__list {
    display: flex;
}

.navbar__items {
    font-size: 16px;
    color: var(--Secondary);
    padding: 10px;
}

/* ===== Hero 區域 ===== */
    /* 背景圖 */
.hero {
    width: 100%;
    height: 320px;
    background-image: url('/static/img/welcome.png');
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__content {
    width: 100%;
    max-width: 1200px;
    height: 149px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

    /* Slogan */
.hero__slogan {
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 700;
}

.hero__title {
    font-size: 28px;
    line-height: 24px;
    margin-bottom: 15px;
}

    /* 搜尋框本體 */
.search-box__inner {
    position: relative;
    display: flex;
    align-items: center;
    height: 46px;
    background-color: var(--bg);
    border-radius: 5px;
    max-width: 460px;
    box-shadow: var(--shadow);
    z-index: 6;
}

.category-dropdown__trigger {
    flex: none;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fontfamily);
    background-color: var(--selected-cat);
    height: 100%;
    border-radius: 5px 0 0 5px;
    width: 100px;
    font-weight: 500;
}


.search-box__input {
    width: 100%;
    max-width: calc(460px - 100px - 60px);
    height: 100%;
    border: none;
    outline: none;
    padding-inline: 15px;
    padding-top: 2px;
    font-size: 1rem;
    font-weight: bold;
}

.search-box__input::placeholder {
    font-size: 1rem;
    font-weight: bold;
}

.search-box__btn {
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    height: 100%;
    width: 60px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

    /* 類別展開 */
.category-dropdown__container--close{
    display: none;
}

.category-dropdown__container--open {
    display: block;
}

.category-dropdown__menu {
    position: absolute;
    translate: 0 5px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--bg);
    justify-content: center;
    border-radius: 5px;
    box-shadow: var(--shadow);
    z-index: 3;
}

.category-dropdown__item {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    transition: ease 0.3s;
}

.category-dropdown__item:hover {
    background-color: var(--selected-cat);
}

/* ===== 捷運站 List bar 區域 ===== */
.list-bar {
    margin-top: 40px;
    margin-bottom: 20px;
}

.carousel {
    color: var(--Secondary);
    width: 100%;
    overflow-x: auto;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
    border-left: 10px solid var(--bg);
    border-right: 10px solid var(--bg);
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel__mrt {
    flex: 0 0 auto;
    font-size: 1rem;
    text-align: center;
    align-content: center;
    padding: 5px 15px;
    cursor: pointer;
}

.carousel__mrt:hover {
    color: rgba(0, 0, 0, 1);
}

#carousel__backBtn, #carousel__nextBtn {
    cursor: pointer;
    border: none;
    background: url("/static/img/arrow_left.png") center / contain no-repeat;
    width: 32px;
    height: 32px;
}

#carousel__nextBtn {
    background: url("/static/img/arrow_right.png") center / contain no-repeat;
}

#carousel__backBtn:hover {
    background-image: url("/static/img/Hovered_left.png");
}

#carousel__nextBtn:hover {
    background-image: url("/static/img/Hovered_right.png");
}


/* ===== attractions 區域 ===== */

.attractions {
    width: 100%;
    margin-inline: auto;
    padding: 15px;
    display: grid;
    grid-auto-rows: 242px;
    gap: 30px;
}

@media (min-width:1200px){
    .attractions {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width:601px) and (max-width:1200px) {
    .attractions {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:600px) {
    .attractions {
        grid-template-columns: repeat(1, 1fr);
    }
}

.attraction_card {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(232, 232, 232, 1);
    overflow: hidden;
}

.attraction_card__content {
    position: relative;
    height: 197px;
}

.attraction_card__pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.attraction_card__name {
    position: absolute; bottom: 0; left: 0; right: 0;
    background:rgba(0, 0, 0, 0.6);
    height: 40px;
    color: var(--bg);
    font-size: 1rem;
    font-weight: 700;
    align-content: center;
    padding: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.attraction_card__detail {
    height: 45px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--Secondary);
    background-color: var(--bg);
}

.attraction__no-result {
    flex: 1;
    display: none;
}

.attraction__no-result.show {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ===== Footer 區域 ===== */
.footer__copy-right{
    margin-top: 40px;
    text-align: center;
    align-content: center;
    background-color: var(--Secondary);
    color: var(--bg);
    height: 104px;
}